@page "/Trabajos/Delete"
@page "/Trabajos/Delete/TrabajoId={TrabajoId:int}"
@inject ClientesServices clientesServices
@inject TecnicosServices tecnicosServices
@inject TrabajosServices trabajosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer


<div class="container">
    <div class="card shadow-header">
        <div class="card-header bg-primary text-white text-center p-2 rounded">
            <h3><strong>Eliminar Trabajos</strong></h3>
        </div>
        <div class="card-header justify-content-center text-center">
            <h3 class="text-danger">¿Est&aacute; Seguro Que Quiere Eliminar El Trabajo?</h3>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card shadow-header">
                        <div class="card-header bg-primary text-white">
                            <h3 class="text-center"><strong>¡Datos Trabajos!</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="bolder-primary border-2 bolder">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <ul class="list-unstyled">
                                                <li><strong>TrabajoId:</strong>@trabajo.TrabajoId</li>
                                                <li><strong>Fecha:</strong>@trabajo.Fecha</li>
                                                <li><strong>ClienteId:</strong>@cliente.Nombres</li>
                                                <li><strong>TecnicoId:</strong>@tecnico.Nombres</li>
                                                <li><strong>Descripci&oacute;n:</strong>@trabajo.Descripcion</li>
                                                <li><strong>Monto:</strong>@trabajo.Monto</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-outline-danger ml-2" @onclick="EliminarTrabajo"><span class="bi bi-trash"></span>Eliminar</button>
        <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><span class="bi bi-box-arrow-left"></span>Volver</button>
    </div>
</div>
@if (trabajo == null)
{
    <p>Trabajos no encontrado.count</p>
}
@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos? trabajo { get; set; } = new Trabajos();
    public Tecnicos? tecnico { get; set; } = new Tecnicos();
    public Clientes? cliente { get; set; } = new Clientes();
    //Metodo onitialze
    protected override async Task OnInitializedAsync()
    {
        if (TrabajoId != 0)
        {
            trabajo = await trabajosServices.Buscar(TrabajoId);
            cliente = await clientesServices.Buscar(trabajo.ClienteId);
            tecnico = await tecnicosServices.Buscar(trabajo.TecnicoId);
        }
    }
    //Metodo EliminarTrabajo
    public async Task EliminarTrabajo()
    {
        if (TrabajoId == 0 || trabajo == null)
        {
            return;
        }
        if (await trabajosServices.Eliminar(TrabajoId))
        {
            Volver();
        }
    }
    //Metodo Volver
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Trabajos/Index");
    }
}
