@page "/IncentivosTecnicos/Create"
@inject IncentivosService incentivosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de IncentivosTecnicos</PageTitle>
<EditForm Model="IncentivosTecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    
    <Toasts class="p-3" Messages="MensajeToast" Placement="ToastsPlacement.TopRight" />

    @* <div style="text-align:right"> *@
    <div style="width: 100%; text-align: right;">
        <button style="display: inline-block;" class="bi bi-box-arrow-left" @onclick="Retroceder">Volver</button>
    </div>

    <div class="card">
        <div class="card-header  text-center py-2 rounded">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de IncentivosTecnicos</h3>
        </div>

        <div class="card-body">
            <!-- IncentivoId -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="IncentivoId" class="form-label">IncentivoId:</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="IncentivosTecnico.IncentivoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => IncentivosTecnico.IncentivoId)" />
                    </div>
                </div>
            </div>
            <!-- TecnicoId -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="TecnicoId" class="form-label">TecnicoId:</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="IncentivosTecnico.TecnicoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => IncentivosTecnico.TecnicoId)" />
                    </div>
                </div>
            </div>
            <!-- Fecha -->
            <div class="mb-3">
                <label for="Fecha" class="form-label">Fecha:</label>
                <InputDate @bind-Value="IncentivosTecnico.Fecha" class="form-control" />
                <ValidationMessage For="@(() => IncentivosTecnico.Fecha)" />
                @if (Existe)
                {
                    <span class="text-danger">Ya existe una persona que tiene esta Fecha.</span>
                }
            </div>
            <!-- Descripcion -->
            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripcion:</label>
                <InputText @bind-Value="IncentivosTecnico.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => IncentivosTecnico.Descripcion)" />
            </div>
            <!-- CantidadServicios -->
            <div class="mb-3">
                <label for="CantidadServicios" class="form-label">CantidadServicios:</label>
                <InputNumber @bind-Value="IncentivosTecnico.CantidadServicios" class="form-control" />
                <ValidationMessage For="@(() => IncentivosTecnico.CantidadServicios)" />
            </div>
            <!-- Monto -->
            <div class="mb-3">
                <label for="Monto" class="form-label">Monto:</label>
                <InputNumber @bind-Value="IncentivosTecnico.Monto" class="form-control" />
                <ValidationMessage For="@(() => IncentivosTecnico.Monto)" />
            </div>
        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success ml-2"><span class=" bi bi-check-circle-fill"></span> Guardar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash-fill"></i> Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int IncentivoId { get; set; }

    public IncentivosTecnicos IncentivosTecnico { get; set; } = new IncentivosTecnicos();
    List<ToastMessage> MensajeToast = new List<ToastMessage>();
    // public List<TiposTecnicos> tipos = new List<TiposTecnicos>();
    private bool Existe = false;

    // protected override async Task OnInitializedAsync()
    // {
    //     tipos = await incentivosService.Listar(t => true);
    // }

    public async Task Nuevo()
    {
        IncentivosTecnico = new IncentivosTecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var IncentivosTecnicoEncontrado = await incentivosService.Buscar(IncentivosTecnico.IncentivoId);

        if (IncentivosTecnicoEncontrado != null)
        {
            IncentivosTecnico = IncentivosTecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task Guardar()
    {

        if (await Validar())
        {

            return;
        }

        var guardo = await incentivosService.Guardar(IncentivosTecnico);
        if (guardo)
        {
            Mensaje(ToastType.Success, "Guardado correctamente.");
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await incentivosService.Eliminar(IncentivosTecnico.IncentivoId);
        Nuevo();
        Mensaje(ToastType.Success, "Eliminado correctamente.");

    }

    private void Retroceder()
    {
        navigationManager.NavigateTo("/IncentivosTecnicos/index");
    }

    public async Task<bool> Validar()
    {
        var listaIncentivosTecnicos = await incentivosService.Listar(T => T.Descripcion.ToLower() == IncentivosTecnico.Descripcion.ToLower() && T.IncentivoId != IncentivosTecnico.IncentivoId);
        Existe = listaIncentivosTecnicos.Any();
        return Existe;
    }

    private ToastMessage CreateToastMessage(ToastType toastType, string mensaje)
    => new ToastMessage
    {
        Type = toastType,
        Title = "Notificación",
        HelpText = $"{DateTime.Now}",
        Message = mensaje,
    };

    private void Mensaje(ToastType toastType, string mensaje)
    {
        MensajeToast.Add(CreateToastMessage(toastType, mensaje));
    }

}
